<div class="investment-container-form">
  <%= simple_form_for(investment, method: :post, url: project_investments_path)  do |f| %>
    <%= f.input :number_of_panels, label: "Nr of panels", wrapper_html: { class: 'number-panels-form' }%>
    <%= f.button :submit, "Buy now", class: "btn btn-success" %>
  <% end %>
</div>


