.after-payment-container {
  margin: 100px 30px;
  width: 300px;
  p {
    color: white;
    font-size: 16px;
  }

}

.after-payment-container h4 {
    color: white;
    padding-bottom: 10px;
}

.amount {
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
}
.btn_projects {
      background-color: #88D881;
      font-size: 16px;
      margin: 20px 0;
      border-radius: 5px;
      color: white;
    }

