.after-payment-container {
  margin: 50px 30px 100px 30px;
  width: 300px;
  p {
    color: white;
    font-size: 16px;
  }

}

.after-payment-container h4 {
    color: white;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.amount {
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
}


.after-payment-info-container {
  margin-bottom: 80px;
}
