// Specific CSS for your home-page
#key-facts-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > h1 {
    align-self:center;
  }
}

.key-fact-home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .key-fact-logo {
    flex: 1 1 20%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .key-fact-content {
    flex: 1 1 80%;
    display: flex;
    align-items: center;
    h5 {
      margin: 0px;
    }
  }
}

#key-facts-home {
  color: white;
  h3 {
    font-size: 150%;
  }
}

.one-key-facts-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
// .one-key-facts-home-first {
//   padding-left: 20px;
// }

.two-key-facts-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
// .two-key-facts-home-first{
//     padding-left: 20px;
// }

.three-key-facts-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
// .three-key-facts-home-first {
//   padding-left: 20px;
// }

  .buttons-home-beforefooter{
    min-height: 100vh;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttons-home-beforefooter > .btn-ancilliary{
    padding: 10px 35px;
  }
  .cards-list > h2{
    font-size: 36px;
    color: white;
    padding: 10px;
  }
  .cards-list {
    text-align: center;
  }

