.investment {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 70vh;

  p {
    font-size: 1.7rem;
  }
}

.investment-header {
  flex: 0 0 25%;
}

.investment-content {
  flex: 0 0 50%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.investment-content-infos {
  flex: 0 0 40%;

  table {
    width: 100%;
  }

  tr {
    height:40px;
  }

  td:first-of-type {
    width: 70%;
    h3 {
      font-size: 2rem;
      font-weight: bolder;
    }
  }

}

.investment .btn-goback {
  flex: 0 0 10%;
}

.investment-form {
  display: flex;
  justify-content: flex-end;
}


.investment-container-form {

  padding: 10px;
  width: 200px;
  padding: 0;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}


#investment_number_of_panels{
  width: 80px;
}

.number-panels-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-control-label {
  color:white;
  font-weight: normal;
  width: 150px;
  padding: 10px 5px 10px 5px;
}

@media only screen and (max-width: 670px) {

  .wrapper-one-lightblue {
    flex: 0 0 100%;
    justify-content: center;
  }

  .flex-two-fixed {
    height: 70px;
    width: 100vw;
    display: block;
    margin-top: 0px;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    border-radius: 0px;
    box-shadow: 0 -1px 2px 2px rgba(0,0,0,0.2);
  }

  .show-flex-three{
    width: 100%;
    padding-top: 0px;
    height: 70px;

    .icon-container-show {
      padding: 5px 10px;
    }
    // We don't have the place to show these informations on the mobile view
    h3, #price-of-selected-panels, #available-panels {
      display: none;
    }
  }

  .investment-container-form {
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: row;

    form {
      width:100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  #number-panels-selected-investment {
    margin: 0px;
    flex: auto;
  }

  .btn-main-green {
    margin: 0px 10px;
  }

  .form-control-label {
    flex: 0 0 52%;
    padding: 0px;
  }
}
