.investment {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 70vh;

  p {
    font-size: 1.7rem;
  }
}

.investment-header {
  flex: 0 0 25%;
}

.investment-content {
  flex: 0 0 50%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.investment-content-infos {
  flex: 0 0 40%;

  table {
    width: 100%;
  }

  tr {
    height:40px;
  }

  td:first-of-type {
    width: 70%;
    h3 {
    font-size: 2rem;
    font-weight: bolder;
    }
  }

}

.investment .btn-goback {
  flex: 0 0 10%;
}

.investment-form {
  display: flex;
  justify-content: flex-end;
}


.investment-container-form {

  padding: 10px;
  width: 200px;
  padding: 0;
  margin: 0 auto !important;

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}


#investment_number_of_panels{
  width: 80px;
}

.number-panels-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-control-label {
  color:white;
  font-weight: normal;
  width: 150px;
  padding: 10px 5px 10px 5px;
}

