.investment-container{
  padding-top: 100px;
  width: 300px;
  h3 {
    color: white !important;
  }
  p {
    color: white;
  }


.btn-goback {
      background-color: #11ffee00;
      font-size: 16px;
      margin-bottom: 30px;
      color: white;
      border: solid white 1px;
      border-radius: 5px;
    }
}


.investment-form {
  width: 300px;
}
.btn_projects {
      background-color: #88D881;
      font-size: 16px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

.investment-container-form{
  padding: 20px;
  width: 200px;
}

.number-panels-form{
  width: 200px;
}
