.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yielded-content {
  flex: 1 1 auto;
  width: 100%;
  padding-top: 70px;
}

.hidden {
  display: none;
}

.price-hidden {
  display: none;
}
