<div class="card-projects">
  <img class="card-user-projects" src="https://goodlogo.com/vote/nike-classic-logo-2355">
  <img src="" alt="">
  <div class="card-category-projects">Popular</div>

  <div class="card-description-projects">
    <h2><%= @project.name %></h2>
    <p>@project.country</p>
  </div>

  <a class="card-link-projects" href="#" ></a>
</div>
