<div class="card-projects">
  <div class="card-description-projects">
    <h2> <%= project.name %> </h2>
    <p> <%= project.company_logo_name %> </p>
  </div>

  <img class="card-user-avatar-projects" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnL6GSKqq0ScFpX_ok8NSa96aXB0PzvkSNagsL6tgo56acCDgi">

  <img class="card-user-image" src="http://www.coherentchronicle.com/wp-content/uploads/2018/03/Microsoft-to-Collaborate-with-Sunseap-for-Solar-Project-in-Singapore.jpg" alt="">

  <div class="card-dynamicbar-projects">
    <div id="myProgress">
      <div id="myBar">
       <h4>25%</h4> </div>
    </div>
  </div>


  <div class="card-country-projects">
    <h3><%= project.country %></h3>
  </div>

  <a class="card-link-projects" href="#" ></a>
</div>
