<div class="home_banner_wrapper">
  <div class="container-fluid">
    <div class="home_banner" style="">
      <div class="container home_banner_content">
        <h1>Solarize
        Me</h1>
        <h2>Find a home for your solar panels!</h2>
        <%= link_to "Start investing now", projects_path, class: "btn-main-green" %>
        <%= link_to "Learn more", learn_more_path, class: "btn-ancilliary" %>
      </div>
    </div>
  </div>
</div>
<div class="cards-list">
  <%= render partial: "shared/card", collection: @projects %>
</div>
