<h1>What is Solarize me?</h1>
<br>
<ol>
  <li>
    <h3>You buy solar panels on the roof of a host company.</h3>
  </li>
  <li>
    <h3>The host company buys the energy created by the solar panels.</h3>
  </li>
  <li>
    <h3>We manage everything: we buy the panels, we install them, we bill the host company for the energy consumed and we pay you dividends for your panels.</h3>
  </li>
</ol>
<br>
<h1>FAQ</h1>
<ul>
  <li><h4>Q: How the crowdfunding campaign works?</h4>
    <h5>Every project is crowdfunded. Depending on the size of the project, a campaign can last between 60 and 90 days. Once the investment goal is reached, the campaign is closed and the investment is confirmed. If by the end of the project timing the goal is not reached, SolarizeMe will try to find additional investments from traditional players (banks...). Depending on the success of this second round, SolarizeMe will confirm or cancel the project.</h5></li>
    <li><h4>Q: When are the funds collected from my bank account?</h4>
      <h5>As soon as you decide to invest. This is necessary to guarantee that all individual investors are solvent and committed to their investment. If the project is eventually cancelled, all funds are returned to investors.</h5></li>
</ul>
