<h1>Our Projects</h1>




<br>
<br>
  <!-- List all projects: we need to seed description company name and company url -->

<ul>
<% @projects.each do |project| %>
  <li> Project <strong> <%= project.name %> </strong>:
    provides a yield of <strong><%= project.yield %></strong>. Price per panel: <strong><%= project.price_per_panel %></strong> (Company: , link: )
    <%= link_to "See more details", project_path(project), class:"btn btn-warning" %>
    </li>
<% end %>
</ul>
