<div class="container">
  <p>Photos (with right-left scroll</p>
  <img style="height: 30vh" src="http://www.coherentchronicle.com/wp-content/uploads/2018/03/Microsoft-to-Collaborate-with-Sunseap-for-Solar-Project-in-Singapore.jpg" alt="">
  <h1> Rome Prima </h1>
  <p> <%= link_to "by #{@project.user.company_name}", user_path(@project.user) %></p>
  <p> <%= @project.description %> </p>
  <p> 10.845 EUR out of 50.000 EUR </p>
  <p> 7 days to go</p>
  <p> <%= @project.country %></p>
  <%= link_to "Invest now", new_project_investment_path(@project), class: "btn btn-primary" %>
  <h2> Detailed description </h2>
  <p>Minimum investment: 250 EUR</p>
  <p>Return 8% per year</p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac erat auctor, dapibus mi ac, vulputate ipsum. Maecenas pulvinar vehicula nisl sed semper. Morbi luctus orci pulvinar nisi placerat convallis. Nullam rhoncus leo in mi bibendum, et malesuada sem porta. Quisque ut erat mollis, gravida arcu non, eleifend eros. Maecenas consectetur urna porttitor aliquet placerat. Donec quis velit non nisl suscipit commodo. Nulla facilisi. Nulla elit nisi, consectetur in orci nec, vehicula ultrices elit.
  <br>
  <br>
  Proin ullamcorper est sapien, eget efficitur nisi posuere viverra. Nunc sed elementum ligula. Donec ipsum lectus, molestie ac efficitur ac, ornare id mauris. Cras auctor eros enim, vitae scelerisque elit posuere id. Praesent a augue non orci aliquam fringilla. Nunc sit amet dolor vel augue aliquam hendrerit ut sit amet augue. Mauris egestas erat ac tellus laoreet vehicula. Nullam mollis, lacus ut molestie ullamcorper, elit leo rutrum nulla, sit amet sollicitudin massa sapien id justo. In sagittis massa auctor ipsum dictum, quis molestie leo vestibulum. Praesent hendrerit, augue sed lobortis cursus, odio urna gravida lorem, quis vehicula sem eros quis risus.
  <br>
  <br>
  Etiam nec lacus vel ante lobortis congue sed id mi. Curabitur at suscipit mi, at sodales purus. Phasellus auctor commodo elit, at lobortis odio pulvinar sed. Nulla eget mollis quam. Aliquam erat volutpat. Phasellus vehicula eros sollicitudin risus fermentum, posuere rhoncus nulla facilisis. Nulla id enim sed metus ultricies varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  <br>
  <br>
  Phasellus ornare justo ac nunc efficitur malesuada. Nullam imperdiet non tellus non laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras placerat augue urna, eu fringilla elit congue eu. Vestibulum ut velit laoreet, dapibus ipsum at, venenatis felis. Pellentesque id mauris hendrerit, vestibulum sapien eu, aliquam augue. In eleifend vel nunc eget iaculis. Praesent sit amet erat sed metus egestas laoreet id at tortor. Pellentesque ac libero sem. Etiam rutrum scelerisque ex et pulvinar.

</div>

