.btn-main-green {
  height: 42px;
  width: 188px;
  background: $button-main;
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
  margin: 10px;
  text-align: center;
}

.btn-main-blue {
  height: 42px;
  width: 188px;
  background: $button-main-alt;
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
  margin: 10px;
  text-align: center;
}

.btn-ancilliary {
  height: 42px;
  width: 188px;
  background: none;
  border-radius: 5px;
  padding: 10px 8px;
  border: 1px solid white;
  color: white;
  margin: 10px;
  text-align: center;
}
