.btn-main-green {
  height: 50px;
  width: 200px;
  background: $button-main;
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
    color: white;
    background: $button-main-darker;
  }
}

.btn-main-blue {
  height: 42px;
  width: 188px;
  background: $button-main-alt;
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn-ancilliary {
  height: 50px;
  width: 200px;
  background: none;
  border-radius: 5px;
  padding: 10px 8px;
  border: 1px solid white;
  color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ancilliary-long{
  width: 258px;
}

.btn-goback {
  background-color: #11ffee00;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
  border: solid white 1px;
  border-radius: 5px;
}

.btn-filter{
  display: inline-block;
  height: 42px;
  width: 120px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: #469AE0;
  border: solid #469AE0 1px;
  color: white;
  &:hover {
    opacity: 0.7;
  }
}

.btn-reset-f {
  display: inline-block;
  height: 42px;
  width: 120px;
  background-color: #EE5F5B;
  padding: 10px 20px;
  font-weight: bolder;
  border-radius: 5px;
  border: solid #EE5F5B 1px;
  color: white;
  &:hover {
    opacity: 0.7;
  }
}

