.project-show-page-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-projects-show {
  height: auto;
  width: 400px;
  color: $text-dark;
  border: solid $light-gray 1px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}

.card-project-image-show {
  flex: 0 0 230px;
  width: 320px;
}
.wrapper-two-grey {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  .project-detailed-description-show{
    flex-direction: column;
    margin: 15px;
  }
  .map-showpage img{
    width: 650px;
      margin: 15px;
  }
}
.button-begin-showpage{
  margin: 10px;
}
.button-back-showpage{
  margin-top: 30px;
}
.show-flex-one, .show-flex-two, .show-flex-three {
  height: 500px;
}
.show-flex-two{
  h3{
    font-size: 26px;
    padding-bottom: 10px;
  }
  p{
   font-size: 18px;
   font-weight: lighter;
    padding: 10px 10px 0 30px;
  }
  height: auto;
  width: 400px;
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 0 0 auto;
}
.icon-container-show{
  display: flex;
  padding: 10px;
  align-items: top;
}

.show-flex-three{
  h3{
    font-size: 26px;
    padding-bottom: 10px;
  }
  p {
    font-size: 18px;
    font-weight: lighter;
    padding: 10px 10px 0 30px;
  }
  height: auto;
  width: 400px;
  color: white;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 0 0 auto;
}
.technical-indicators-show{
  margin-top: 100px;
}

.crowfunding-status-show{
  margin: 43px 40px 42px 0;
}

.button-invest-show {
  align-self: center;
  margin-right: 20px;
}
.remaining-crowfunding{
  align-self: center;
  margin-right: 20px;
}

.card-header-projects-show {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 320px;
  padding-top: 20px;
}

.card-title-and-company-name-show {
  flex: 0 0 auto;
  h1 {
    margin-bottom: 5px;
  }
}

.card-company-logo-show {
  height: 50px;
  width: 50px;
  flex: 0 0 50px;
  border-radius: 50%;
}

// .card-financial-details-show {
//   flex: 0 0 250px;
//   padding-top: 20px;
//   h3 {
//     font-size: 17px;
//     text-align: center;
//   }
//   .card-financial-details-show-center {
//     text-align: center;
//   }
// }

.card-country-projects-show {
  flex: 0 0 40px;
  align-self: flex-end;
}


.card-description-projects-show {
  position: flex;
  left: 10px;
  width: 150px;

  p {
    font-size: 14px;
    opacity: 0.7;
    font-weight: lighter;
    top: 30px;
  }
}

.card-link-projects-show {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link-projects-show:hover {
  opacity: 0.1;
}



progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 10px;
}
progress[value]::-webkit-progress-bar {
  border-radius: 8px;
  background-color: #345995;
}
progress[value]::-webkit-progress-value{
  border-radius: 7px;
  background-color: lightgreen;
}
