//
// PAGE LAYOUT
//

.project-show-container{
  display: flex;
  width: auto;
  justify-content: space-between;
  margin: 0 5%;
}

.project-show-investment-panel {
  display: flex;
  flex: 0 0 30%;
  margin-top: 44px;
}

.project-show-informations-panel {
  margin-top: 30px;
  display:flex;
  flex-wrap: wrap;
  flex: 0 0 66%;
  // Gives all cards a margin top, for mobile display

  > * {
    margin-top: 50px;
  }

  .card-projects {
    margin: 15px 0px;
  }
}


//
// FONTS MODIFIERS
//

.project-show-informations-panel {
  h3 {
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 10px;
  }

  p {
    font-size: 1.7rem;
    font-weight: lighter;
    padding: 10px 5px 0 5px;
  }

  i {
    width: 40px;
  }
}

.show-flex-three {
  position: fixed;
  height: 460px;
}

.card__completion-rate-text {
  font-size: 2rem;
      // font-weight: bold;
    }


    .card-projects-show {
      height: auto;
    // width: 340px;
    color: $text-dark;
    border: solid $light-gray 1px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
    // margin: 15px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    p {
      margin: 0px;
      padding: 0px;
    }
  }

  .card-project-image-show {
    flex: 0 0 200px;
    width: 320px;

  }
  .project-detailed-description-show{
    margin: 100px 15px 10px 15px;
    flex: 0 0 100%;
    color: white;
  }
  .map-showpage {
    margin: 15px;
    flex: 0 0 100%;
  }

  .button-begin-showpage{
    margin: 10px;
  }
  .button-back-showpage{
    margin-top: 30px;
  }
  .show-flex-one, .show-flex-two, .show-flex-three {
    // height: 600px;
    flex: 0 0 30%;
  }
  .show-flex-two{
    min-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 40px;
    color: white;
  }

  .icon-container-show{
    padding: 10px;
    align-items: top;
    font-size: 24px;
    p {
      padding: 0px;
    }
    i {
      width: 28px;
      opacity: .5;
      font-size: 17px;
    }
    .form-control-label {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .estimated-roi-show {
    border-left: solid #004c64 6px;
    border-radius: 4px;
    p{
      font-weight: bolder;
    }
  }
  .show-flex-three{
    min-width: 340px;
    display: flex;
    flex-direction: column;
    color: white;
    border: solid #004c64 2px;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    background: #004c64;
    box-shadow: outset 0 1px 13px 0 rgba(0, 0, 0, 0.53);
  // .investment-container-form{
  // width: auto;
  // }
  >h3 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .btn-main-green {
    width: auto;
  }

}

.show-flex-four {
  flex: 0 0 100%;
  min-width: 340px;
  padding: 10px;
  color: white;
  height: auto;
  p {
    padding: 10px 30px 0 0px;
    text-align: justify;
  }
}

.show-flex-five {
  padding: 10px;
  flex: 0 0 100%;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  height: auto;
  h3 {
    padding-bottom: 20px;
    color: white;
  }
    // #map > img {
    //   height: 50px;
    //   width: 50px;
    // }
  // justify-content: center;
  // align-items: center;
}

.technical-indicators-show{
  margin-top: 100px;
}

.crowfunding-status-show{
  // margin: 43px 40px 42px 0;
  flex: 0 0 15%;
}

.card-show-description {
  flex: 1 auto;
}

.button-invest-show {
  align-self: center;
  margin-right: 20px;
  margin-top: 100px;
}
.remaining-crowfunding{
  align-self: center;
  margin-right: 20px;
  font-weight: bold;
}

.card-header-projects-show {
  display: flex;
  justify-content: space-between;
  flex: 0 0 15%;
  width: 320px;
  padding-top: 20px;
}

.card-title-and-company-name-show {
  flex: 0 0 auto;
  h1 {
    margin-bottom: 5px;
  }
}

.card-company-logo-show {
  height: 50px;
  width: 50px;
  flex: 0 0 50px;
  border-radius: 50%;
}


.card-country-projects-show {
  flex: 0 0 40px;
  align-self: flex-end;
}


.card-description-projects-show {
  position: flex;
  left: 10px;
  width: 150px;

  p {
    font-size: 14px;
    opacity: 0.7;
    font-weight: lighter;
    top: 30px;
  }
}

.card-link-projects-show {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link-projects-show:hover {
  opacity: 0.1;
}


.investment {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 70vh;

  p {
    font-size: 1.7rem;
  }
}

.investment-header {
  flex: 0 0 25%;
}

.investment-content {
  flex: 0 0 50%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.investment-content-infos {
  flex: 0 0 40%;

  table {
    width: 100%;
  }

  tr {
    height:40px;
  }

  td:first-of-type {
    width: 70%;
    h3 {
      font-size: 2rem;
      font-weight: bolder;
    }
  }

}

.investment .btn-goback {
  flex: 0 0 10%;
}

.investment-form {
  display: flex;
  justify-content: flex-end;
}


.investment-container-form {

  padding: 10px;
  width: 200px;
  padding: 0;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}


#investment_number_of_panels{
  width: 80px;
}

.number-panels-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-control-label {
  color:white;
  font-weight: normal;
  width: 150px;
  padding: 10px 5px 10px 5px;
}

@media only screen and (max-width: 670px) {

  .wrapper-one-lightblue {
    flex: 0 0 100%;
    justify-content: center;
  }

  .flex-two-fixed {
    height: 70px;
    width: 100vw;
    display: block;
    margin-top: 0px;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    border-radius: 0px;
    box-shadow: 0 -1px 2px 2px rgba(0,0,0,0.2);
  }

  .show-flex-three{
    width: 100%;
    padding-top: 0px;
    height: 70px;

    .icon-container-show {
      padding: 5px 10px;
    }
    // We don't have the place to show these informations on the mobile view
    h3, #price-of-selected-panels, #available-panels {
      display: none;
    }
  }

  .investment-container-form {
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: row;

    form {
      width:100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  #number-panels-selected-investment {
    margin: 0px;
    flex: auto;
  }

  .btn-main-green {
    margin: 0px 10px;
  }

  .form-control-label {
    flex: 0 0 52%;
    padding: 0px;
  }
}
