.card-projects {
  height: 580px;
  width: 340px;
  color: $text-dark;
  border: solid $light-gray 1px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
  margin: 15px;
  border-radius: 5px;
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;

  &:hover {
    text-decoration: none;
    color: $text-dark;
    opacity: 0.9;
  }

  .card-project-image {
    flex: 0 0 200px;
    width: 320px;
  }

  .card-header-projects {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    width: 320px;
    padding-top: 20px;

    .card-title-and-company-name {
      flex: 0 0 auto;
      h1 {
        margin-bottom: 5px;
      }
    }

    .card-company-logo {
      height: 50px;
      width: 50px;
      flex: 0 0 50px;
      border-radius: 50%;
    }
  }

  .card-financial-details {
    flex: 0 0 70px;
    .card__completion-rate-text {
      font-size: 2rem;
      // font-weight: bold;
    }
    p {
      margin-bottom: 2px;
    }
  }

  .card-horizontal-line {
    width: 90%;
    height: 1px;
    background-color: $light-gray;
    margin-top: 10px;
  }

  .card-country-projects {
    flex: 0 0 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > * {
      color: $text-dark;
    }
  }

}

.card-description-projects {
  position: absolute;
  left: 10px;
  width: 150px;
  h2 {
    top: 10px;
    font-size: 20px;
  }
  p {
    font-size: 14px;
    opacity: 0.7;
    font-weight: lighter;
    top: 30px;
  }
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 10px;
}
progress[value]::-webkit-progress-bar {
  border-radius: 8px;
  background-color: #345995;
}
progress[value]::-webkit-progress-value{
  border-radius: 7px;
  background-color: lightgreen;
}



