.card-projects {
  height: 580px;
  width: 340px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);

  color: black;
  position: relative;
  border: solid black 1px;
}
.card-user-avatar-projects {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.card-user-image {
  position: absolute;
  top: 100px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  width: 320px;

}
.card-country-projects {
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.card-description-projects {
  position: absolute;
  left: 10px;
  h2 {
  top: 10px;
  font-size: 24px;
  }
  p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  top: 30px;
  }
 }

.card-link-projects {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link-projects:hover {
  opacity: 0.1;
}


.card-dynamicbar-projects {
    position: absolute;
    bottom: 60px;
    margin: 10px;
}
  .progress[value] {
  /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 20px;
  }




